<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Books</display-name>
  <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost/Books</param-value>
    </context-param>
    <context-param>
        <param-name>dbuserid</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>dbuserpwd</param-name>
        <param-value>123456</param-value>
    </context-param>
    <context-param>
        <param-name>dbinitcat</param-name>
        <param-value>Books</param-value>
    </context-param>
    <context-param>
        <param-name>copyright</param-name>
        <param-value>2021</param-value>
    </context-param>
    <context-param>
        <param-name>weblink</param-name>
        <param-value>https://www.school.com</param-value>
    </context-param>
        <context-param>
        <param-name>hostURL</param-name>
        <param-value>http://localhost:8888</param-value>
    </context-param>
     <context-param>
        <param-name>uploadPath</param-name>
        <param-value>/Users/PC/eclipse-workspace/Books/src/main/webapp/uploads</param-value>
    </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>